@font-face {
  font-family: 'Josefin Sans';
  src: url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;

  font-family: 'Josefin Sans', sans-serif;
}

body{
  font-size: 18px;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

.container{
  height: 100vh;
  width: 100vw;
}

.wrapper{
  width: 100%;
  height: 100%;
}

.bg-photo{
  height: 35%;
  background-image: url('../public/images/bg-desktop-dark.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.content{
  height: 100%;
  background: hsl(235, 21%, 11%);
}

.todo-wrapper{
  height: calc(65% + 164px);
  width: 40%;
  margin: 0 auto;

  position: relative;
  bottom: 164px;
}

@media(max-width: 767px){
  .todo-wrapper{
    width: 100%;
    padding: 0 30px;
  }
}