@font-face {
  font-family: 'Josefin Sans';
  src: url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;

  font-family: 'Josefin Sans', sans-serif;
}

body{
  font-size: 18px;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

.container,
.wrapper,
.content{
  min-height: 100vh;
  height: 100%;
}

.bg-photo{
  height: 35vh;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-image: url('/images/bg-desktop-dark.jpg');
}

.container.dark .bg-photo{
  background-image: url('/images/bg-desktop-dark.jpg');
}

.container.light .bg-photo{
  background-image: url('/images/bg-desktop-light.jpg');
}

.container .content{
  background: hsl(235, 21%, 11%);
}

.container.dark .content{
  background: hsl(235, 21%, 11%);
}

.container.light .content{
  background: hsl(0, 0%, 98%);
}

.todo-wrapper{
  width: 40%;
  margin: 0 auto;

  position: relative;
  bottom: 164px;
}

@media(max-width: 767px){
  .todo-wrapper{
    width: 100%;
    padding: 0 30px;
  }
}

@media screen and (prefers-color-scheme: light) {
  .container .bg-photo{
    background-image: url('/images/bg-desktop-light.jpg');
  }

  .container .content{
    background: hsl(0, 0%, 98%);
  }
}